node_modules/
test-results/
/playwright-report/
/playwright/.cache/
**/*.js
/*.js
*.js
*.js.map
/*.js.map
**/*.js.map
.vscode/settings.json
tests/automation/todo
allure-report
allure-results
TODO.md

playwright.config.js
sessionReporter.js
.env
output/
dist/
.eslintcache
