name: Lint

on:
  pull_request:
    branches:
      - main
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: git config --global core.autocrlf false

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.target_branch || github.ref  }}
          submodules: 'recursive'
          lfs: true

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Enable long paths (Windows Only)
        if: runner.os == 'Windows'
        shell: bash
        run: git config --system core.longpaths true

      - name: Setup pnpm hoisted node-linker (Windows Only)
        if: runner.os == 'Windows'
        shell: bash
        run: pnpm config set node-linker hoisted

      - name: Setup node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Cache .electron-gyp
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.electron-gyp
          key: electron-gyp-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Restore cached .eslintcache and tsconfig.tsbuildinfo
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: cache-lint
        with:
          path: |
            .eslintcache
            tsconfig.tsbuildinfo
          key: lint-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml', 'patches/**', '.eslintrc.js', '.eslint/**', 'tsconfig.json') }}

      - name: Install node_modules
        shell: bash
        run: pnpm install
        env:
          NPM_CONFIG_LOGLEVEL: verbose

      - name: Lint Files
        shell: bash
        run: pnpm run lint-check

      - run: git diff --exit-code

      - name: Update cached .eslintcache and tsconfig.tsbuildinfo
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        if: github.ref == 'refs/heads/main'
        with:
          path: |
            .eslintcache
            tsconfig.tsbuildinfo
          key: ${{ steps.cache-lint.outputs.cache-primary-key }}

      - name: Compile typescript files
        shell: bash
        run: pnpm tsc

      - name: Run the only test we can without a browser
        shell: bash
        run: PRINT_FAILED_TEST_LOGS=1 pnpx playwright test  -g "Enforce localized strings return expected values"
